snippet in
#include <stdio.h>

int	main(void)
{
	return (0);
}
endsnippet

snippet pd
printf("%d\n", $1);
endsnippet

snippet ps
printf("%s\n", $1);
endsnippet

snippet pc
printf("%c\n", $1);
endsnippet
