snippet ii
map(int, input().split())
endsnippet

snippet lii
list(map(int, input().split()))
endsnippet

snippet mli
[map(int, input().split()) for _ in range($1)]
endsnippet

snippet ss
input().split()
endsnippet
